body {
	background-color: white;
	font: sans-serif;
}

h1 {
	padding: 0px;
	color: red;
}

h2 {
	color: green;
}

h3 {	
	color: 00FF00;
	}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}